.container-spa {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .spa {
    background: #ccc;
    width: 1000px;
    padding: 30px 25px 70px 25px;

    .spa_title {
      display: flex;
      align-items: center;
      height: 45px;
      border-left: 7px solid gray;
      padding-left: 10px;
      margin-bottom: 25px;
      font-size: 25px;
      white-space: nowrap;

      p {
        color: #5c5454;
        padding-right: 15px;
      }

      hr {
        color: #a4a4a4;
        background: #a4a4a4;
        height: 1px;
        align-items: center;
        border: none;
        width: 100%;
        margin-top: 20px;
      }
    }

    .Action_container {
      background: #fff;
      padding: 25px;

      p {
        margin-top: 0;
        font-size: 24px;
        font-weight: 500;
      }

      span {
        background: #5586ff;
        padding: 10px 35px 10px 35px;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        font-size: 18px;

        &:hover {
          background: #f52365;
          transition: all 0.2s ease-in;
        }
      }
    }

    .table_container {
      background: #fff;
      margin-top: 40px;
      padding: 25px;

      .table_header {
        display: grid;
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
        background: #ccc;
        padding: 25px;
      }

      .table_colom {
        display: grid;
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
        background: #fff;
        padding: 25px;
        border-bottom: 1px solid #ccc;

        .table_comment {
          display: flex;
          justify-content: space-between;
          span{
            flex: 1;
          }
          svg {
            cursor: pointer;

            &:hover {
              color: red;
            }
          }
        }
      }

      .empty {
        font-size: 20px;
        text-align: center;
      }
    }

    .form {
      padding: 25px;
      background: #fff;

      .container_form {
        padding: 25px;
        max-width: 1000px;
        border: 1px solid #ccc;

        .number_data_input {
          display: flex;

          .invoice_date {
            margin-left: 20px;
          }

          span {
            display: flex;
            justify-content: flex-end;
            position: relative;
            bottom: 67px;
            right: 10px;
          }

          div {
            position: relative;
            display: flex;
            flex-direction: column;
            flex: 1;

            svg {
              position: absolute;
              right: 0;
              bottom: 22px;
              margin-right: 10px;
              color: gray;
              width: 26px;
              height: 45px;
            }
          }
        }

        input {
          outline: none;
          border: 1px solid #ccc;
          padding: 15px 10px 15px 15px;
          height: 20px;
          margin-top: 15px;
          margin-bottom: 20px;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
        }
      }

      .data_coment {
        display: flex;
        flex-direction: column;

        .date_supplied {
          width: 49%;
        }

        div {
          position: relative;
          display: flex;
          flex-direction: column;
          flex: 1;
        }

        textarea {
          outline: none;
          border: 1px solid #ccc;
          border-radius: 5px;
          resize: vertical;
          margin-top: 15px;
          padding: 10px 15px 10px 15px;
          height: 80px;
          font-size: 16px;
          max-height: 150px;
          min-height: 50px;
        }
      }

      .form_button {
        display: flex;
        justify-content: flex-end;

        span {
          color: #fff;
          margin-top: 30px;
          background: #475d9e;
          padding: 10px 30px 10px 30px;
          border-radius: 5px;
          margin-right: 20px;
          cursor: pointer;
          font-size: 16px;
        }
      }

      button {
        outline: none;
        border: none;
        margin-top: 30px;
        background: #5586ff;
        padding: 10px 30px 10px 30px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        color: #fff;

        &:hover {
          background: #f52365;
          transition: all 0.2s ease-in;
        }
      }

      .title_modal {
        padding: 25px;
        text-align: center;

        p {
          font-size: 30px;
          color: #58e909;
          margin-top: 0;
        }

        span {
          background: #3f9f04;
          padding: 10px 40px 10px 40px;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      label {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

.ErrorMassage {
  color: red;
  position: absolute !important;
  right: 0;
}
